:root {
    --bg-main: rgba(238, 238, 238, 100%);
    --accent-main: rgba(245, 187, 20, 100%);
}

  html {
    background: url(./background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .body {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: 100%;
      grid-gap: 1em;
  }

.navbar {
    grid-column-start: 1;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    background-color: var(--accent-main);
    list-style: none; 
    float: left;
    height: 100%;
    width: 100%; 
    padding: 10px;
    text-align: center;
}

.navlist li {
    list-style: none;
}

.list {
    list-style: none;
    text-align: left;
}

.to-do-list {
    grid-column-start: 2;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    margin: 40px;
}

.to-do-input input{
    grid-column-start: 2;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    margin-left: 40px;
}

.App{
    position: relative;
    
}


.clock {
    grid-column-start: 2;
    font-family: 'Dosis', sans-serif;

    font-size: 3em;
    margin-left: 40px;

    position: absolute;
    top: 50%;
    left: 30%;
}

.dash-welcome {
    font-size: 4em;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 10%;
    left: 40%;
}

.Clock {
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
}

.search-bar {
    grid-column-start: 1;
    border-radius: 30px;
    margin-left: 10px;
}

.user-img {
    border-radius: 50%;
    width: 90px;
}